In [1]:
import pandas as pd
# index_col=0 para que pandas lea la cabecera del csv y lo ocupe como header de las columnas
wine = pd.read_csv('C:\\Users\\seba_\\Documents\\winemag-data_first150k.csv',index_col=0)
wine.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

In [2]:
# primer ejercicio
fake_data = {'apples':[30], 'bannanas':[21]}
fake_df = pd.DataFrame(fake_data)
fake_df.head()

   apples  bannanas
0      30        21

In [3]:
fake_data2 = {'apples':[35,41], 'bannanas':[21,34]}
# ponerle indices a las filas del dataframe
fake_df2 = pd.DataFrame(fake_data2, index=['2017 sales','2018 sales'])
fake_df2.head()

            apples  bannanas
2017 sales      35        21
2018 sales      41        34

In [4]:
# una serie con index's y nombre 'dinner'
first_serie = pd.Series(['4 cups','1 cup','2 large','1 can'], index=['Flour','Milk','Eggs','Spam'], name='Dinner')
first_serie

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [5]:
# estadisticos (percentiles incluidos)
wine.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000